<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="eLGXqcDVbbPyVQYJ-XAj7vMqJ5wV_JLwk-yqhCgen7o" />
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/solid.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/jquery/jquery.js"></script>
    {{{block "head"}}}
</head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {{#if loggedIn}}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="userNotes fas fa-bell"></i><span>0</span>
            </button>

            <div id="userNotesDropdown" class="dropdown-menu" aria-labelledby="dropdownMenu2">
            </div>
            {{/if}}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <h3 class="lightblue" id="title"></h3>
                        <h4 class="lightblue" id="desc"></h4>
                    </li>
                    <div class="userControl">
                        {{#if loggedIn}}

                        <li class="nav-item" style="float: right">
                            <a class="nav-link active user" id="{{{loggedIn}}}" href="/user"><span id="userIconNotes"
                                    style="float:left" class="badge notes">{{userNotes}}</span>{{{loggedIn}}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="float: right" href="/logout">Log out</a>
                        </li>

                        {{else}}

                        <li class="nav-item">
                            <a class="nav-link" style="float: right" href="/login">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="float: right" href="/signup">Sign Up</a>
                        </li>

                        {{/if}}
                    </div>
                </ul>
            </div>
        </nav>


    </header>
    {{#if loggedIn}}
    <div class="triangle"></div>
    <div class="projects">
        <div class="yourProjects">
            <div id="yourProjects"></div>
            <button class="" id="addProject" type="button" class="btn btn-secondary" data-toggle="modal"
                data-target="#myModal">
                <i class="fas fa-plus-circle fa-2x"></i>
            </button>
        </div>
    </div>
    <div class="triangle-down"></div>
    {{/if}}
    {{{body}}}
    {{#if loggedIn}}
    {{!-- Add modal --}}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="addNew">
                    <div class="form-group">
                        <label for="name">Project Name</label>
                        <input type="input" class="form-control" id="name" placeholder="Enter a project name">
                    </div>
                    <div class="from-group"><button class="btn btn-primary" id="submit">Add Project</button></div>
                </form>
            </div>
        </div>
    </div>

    <div id="notifications">
    </div>

    <footer>
        <div class="bar"><span class="barItem" id="online">Online: 3</span></div>
    </footer>
    {{/if}}
    <script src="../public/js/popper.js/umd/popper.js" defer></script>
    <script src="../public/js/bootstrap/bootstrap.js" defer></script>
    <script src="../public/js/socket.io/socket.io.js" defer></script>
    <script src="../public/js/socket.io.js" defer></script>
    <script src="../public/js/js.js" defer></script>
    {{{block 'script'}}}
</body>

</html>
