<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/solid.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/jquery/jquery.js"></script>
    {{{block "head"}}}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {{#if loggedIn}}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="userNotes fas fa-bell"></i>{{totalNotes}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            {{#each allInvites}}
                            <a class="dropdown-item" href="/user">Project invite to
                                '{{this.projectName}}' from <b>@{{this.fromUser}}</b></a>
                            {{/each}}
                            {{#each allFriendRequests}}
                            <a class="dropdown-item" href="/user">Friend Request From
                                <b>@{{this.fromUser}}</b></a>
                            {{/each}}
                            {{#each projectAndTaskNotes}}
                            <a class="dropdown-item" href="/dashboard/{{this.projectID}}"><b>@{{this.fromUser}}</b>
                                tagged you in a project!</a>
                            {{/each}}

                        </div>

                    </div>
                    {{/if}}
                </ul>
                {{#if loggedIn}}
                <ul class="navbar-nav mt-2 mt-lg-0" id="userControl">
                    <li class="nav-item">
                        <a class="nav-link active" href="/user"><span style="float:left"
                                class="badge notes">{{userNotes}}<i
                                    class="userNotes fas fa-bell"></i></span>{{{loggedIn}}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Log out</a>
                    </li>
                </ul>
                {{else}}
                <ul class="navbar-nav mt-2 mt-lg-0" id="userControl">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>
                </ul>
                {{/if}}
            </div>
        </nav>


    </header>
    {{#if loggedIn}}
    <div class="triangle"></div>
    <div class="projects">
        <div class="yourProjects" id="yourProjects">
        </div>
        <button class="" id="addProject" type="button" class="btn btn-secondary" data-toggle="modal"
            data-target="#myModal">
            <i class="fas fa-plus-circle fa-2x"></i>
        </button>
    </div>
    <div class="triangle-down"></div>
    {{/if}}
    {{{body}}}

    {{#if loggedIn}}
    {{!-- Add modal --}}
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="addNew">
                    <div class="form-group">
                        <label for="name">Project Name</label>
                        <input type="input" class="form-control" id="name" placeholder="Enter a project name">
                    </div>
                    <div class="form-group">
                        <label for="description">Project Description</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                    <div class="from-group"><button class="btn btn-primary" id="submit">Add Project</button></div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div class="bar"><span class="barItem" id="online">Online: 3</span></div>
    </footer>
    {{/if}}
    <script src="../public/js/popper.js/umd/popper.js" defer></script>
    <script src="../public/js/bootstrap/bootstrap.js" defer></script>
    <script src="../public/js/socket.io/socket.io.js" defer></script>
    <script src="../public/js/socket.io.js" defer></script>
    <script src="../public/js/js.js" defer></script>
    {{{block 'script'}}}
</body>

</html>