{{!< default}}
{{#contentFor 'head'}}
<link rel="stylesheet" href="./public/css/user.css">
{{/contentFor}}
{{#contentFor 'script'}}
<script src="./public/js/user.js" defer></script>
<script>
    if ({{ totalNotes }} != 0) {
        document.querySelector("#dropdownMenu2 i").style.color = "red";
    } else {
        document.querySelector(".dropdown-menu").innerHTML = "<span style=padding:5px;>No notifications!</span>"
    }
</script>
{{/contentFor}}

<main class="container">

    <div class="infoGrid" id="mainInfo">
        <div class="infoGrid">
            <div id="taskDesc" class="border">
                <h4>Info</h4>
                <p id="infoName"><b>Username:</b> {{{user.username}}}</p>
                <p id="infoFirstName"><b>First Name:</b> {{{user.firstname}}}</p>
                <p id="infoLastName"><b>Last Name:</b> {{{user.lastname}}}</p>
                <p id="infoEmail"><b>Email:</b> {{{user.email}}}</p>
            </div>
            <div id="form" class="hide">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Task Name</span>
                    </div>
                    <input type="text" class="form-control" id="taskNameInput" placeholder="Task Name"
                        aria-label="Task Name" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Task Description</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Task Description" aria-label="Task Description"
                        id="taskDescriptionInput" aria-describedby="basic-addon1">
                </div>
                <button type="button" id="submitTask" class="btn btn-outline-primary">Add Task</button>
            </div>
            <div id="friends" class="border">
                <h4>Friends</h4>
                {{#each friends}}
                <div class="friend">
                    <span class="input-group-text" id="{{this.friendUsername}}"><i class="fas fa-at"></i>
                        {{this.friendUsername}} <span class=" badge
                                                        badge-light">0</span><button data-toggle="modal"
                            data-target="#removeFriendModal" type="button"
                            class="badge choice removeFriend btn btn-outline-primary right" style="margin:0;"><i
                                class="fas fa-ban"></i></button></span>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="chat" class="border">
        <div id="allMessages">
        </div>
        <div class="input-group mb-3 inputAndBtnChatHide">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="far fa-comment"></i></span>
            </div>
            <input type="text" id="Message" class="form-control" id="taskNameInput" placeholder="Message"
                aria-label="Comment" aria-describedby="basic-addon1">
            <div class="input-group-prepend">
                <button type="button" class="input-group-text btn btn-outline-primary" id="addMessage">Send</button>
            </div>
        </div>
    </div>
    <div id="invites" class="border">
        <h4>Project Invites</h4>
        {{#each allInvites}}
        <div id={{this.id}} class="invite border"><b>@{{this.fromUser}}</b> invited you to their project called
            {{this.projectName}}!<button type="button" class="badge choice accept btn btn-outline-primary"><i
                    class="fas fa-check fa-2x"></i></button><button type="button"
                class="badge choice decline btn btn-outline-primary"><i class="fas fa-ban fa-2x"></i></button></div>
        {{/each}}
    </div>
    <div id="friendInvites" class="border">
        <h4 style="display:inline-block">Friend Invites</h4>
        <button type="button" class="badge choice addFriend btn btn-outline-primary" data-toggle="modal"
            data-target="#addUserModal">Add friend</button>
        {{#each allFriendRequests}}
        <div id={{this.id}} class="invite border"><b>@{{this.fromUser}}</b> sent a friend request!<button type="button"
                class="badge choice acceptFriend btn btn-outline-primary"><i
                    class="fas fa-check fa-2x"></i></button><button type="button"
                class="badge choice declineFriend btn btn-outline-primary"><i class="fas fa-ban fa-2x"></i></button>
        </div>
        {{/each}}
    </div>
    </div>
    <div class="modal fade" id="addUserModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="addNew">
                    <div class="form-group">
                        <label for="name">Username</label>
                        <input type="input" class="form-control" id="usernameAddFriend" placeholder="Enter Username">
                    </div>
                    <div class="from-group"><button class="btn btn-primary" id="addFriend">Add Friend</button></div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeFriendModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form class="remove">
                    <div class="from-group"><button class="btn btn-primary" id="removeFriend">Remove friend</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>